Source: kyotocabinet
Priority: extra
Maintainer: Gabriel de Perthuis <g2p.code+debian@gmail.com>
Build-Depends:
 autotools-dev,
 debhelper (>= 7.0.50),
 liblzma-dev,
 liblzo2-dev,
 zlib1g-dev
Standards-Version: 3.8.4
Section: libs

Package: libkyotocabinet8
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kyoto Cabinet database libraries [runtime]
 Kyoto Cabinet is an efficient database library like GDBM and NDBM.
 It provideas a hash database and a B+ tree database and is developed as a
 sibling of Tokyo Cabinet, focusing on parallelism and portability.
 .
 This is the runtime package for programs that use the Kyoto Cabinet database
 library.

Package: libkyotocabinet-dbg
Section: debug
Architecture: any
Depends: libkyotocabinet8 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Kyoto Cabinet database libraries [runtime]
 Kyoto Cabinet is an efficient database library like GDBM and NDBM.
 It provideas a hash database and a B+ tree database and is developed as a
 sibling of Tokyo Cabinet, focusing on parallelism and portability.
 .
 These are the debugging symbols for the Kyoto Cabinet database library.

Package: libkyotocabinet-dev
Section: libdevel
Architecture: any
Depends: libkyotocabinet8 (= ${binary:Version}), ${misc:Depends}
Description: Kyoto Cabinet database libraries [development]
 This is the development package which contains headers and static libraries
 for the Kyoto Cabinet database library.

Package: kyotocabinet-doc
Architecture: all
Section: doc
Priority: optional
Depends: ${misc:Depends}
Description: Kyoto Cabinet database documentation
 This package contains the documentation for all the APIs and utilities
 provided by Kyoto Cabinet.

Package: kyotocabinet-utils
Architecture: any
Section: utils
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kyoto Cabinet database utilities
 Kyoto Cabinet is an efficient database library like GDBM and NDBM.
 It provideas a hash database and a B+ tree database and is developed as a
 sibling of Tokyo Cabinet, focusing on parallelism and portability.
 .
 This is the Kyoto Cabinet database utilities package.
