Source: kyotocabinet
Priority: extra
Maintainer: Gabriel de Perthuis <g2p.code+debian@gmail.com>
Build-Depends:
 autotools-dev,
 chrpath,
 debhelper (>= 7.0.50),
 liblzma-dev,
 liblzo2-dev,
 zlib1g-dev
Standards-Version: 3.8.4
Section: libs

Package: libkyotocabinet7
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kyoto Cabinet Database Libraries [runtime]
 Kyoto Cabinet is an efficient database library like GDBM and NDBM.
 It features hash database and B+ tree database and is developed as the
 successor of QDBM, for the purpose of the following three points: higher
 processing speed, smaller size of a database file, and simpler API.
 .
 This is the runtime package for programs that use the Kyoto Cabinet database
 library.

Package: libkyotocabinet-dbg
Section: debug
Architecture: any
Depends: libkyotocabinet7 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Kyoto Cabinet Database Libraries [runtime]
 Kyoto Cabinet is an efficient database library like GDBM and NDBM.
 It features hash database and B+ tree database and is developed as the
 successor of QDBM, for the purpose of the following three points: higher
 processing speed, smaller size of a database file, and simpler API.
 .
 This is the debugging symbols for the Kyoto Cabinet database library.

Package: libkyotocabinet-dev
Section: libdevel
Architecture: any
Depends: libkyotocabinet7 (= ${binary:Version}), ${misc:Depends}
Description: Kyoto Cabinet Database Libraries [development]
 This is the development package which contains headers and static libraries
 for the Kyoto Cabinet database library.

Package: kyotocabinet-doc
Architecture: all
Section: doc
Priority: optional
Depends: ${misc:Depends}
Description: Kyoto Cabinet Database Documentation
 Documentation for all of the API's and utilities provided by Kyoto Cabinet.

Package: kyotocabinet-bin
Architecture: any
Section: utils
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kyoto Cabinet Database Utilities
 Kyoto Cabinet is an efficient database library like GDBM and NDBM.
 It features hash database and B+ tree database and is developed as the
 successor of QDBM, for the purpose of the following three points: higher
 processing speed, smaller size of a database file, and simpler API.
 .
 This is the Kyoto Cabinet Database utilities package.
