#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_auto_configure:
	autoreconf -fvi
	dh_auto_configure -- \
	    --enable-devel --enable-lzo --enable-lzma

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

override_dh_strip:
	dh_strip --dbg-package=kyotocabinet-dbg

.PHONY: \
	override_dh_auto_configure override_dh_installchangelogs override_dh_strip

